# NOTE: update this with your service name
# Name of the stack created by serverless framework. If you change the name and
# deploy your proyect, it willl create a completely new project
service: notes-api

# Use Webpack to create an optimized package for our functions. It will only
# include the code needed to run the lambda functions and nothing else, thus
# reducing the time of cold stats, otherwise when invoked a lambda function will
# load all the code of the app.
package:
  individually: true

plugins:
  # write lambda functions using ECMAScript
  - serverless-bundle # Package our functions with Webpack
  # for local development
  - serverless-offline
  # load the .env files as Lambda environment variables
  - serverless-dotenv-plugin # Load .env as environment variables

provider:
  name: aws
  runtime: nodejs12.x
  stage: prod
  region: us-east-1

  # These environment variables are made available to our functions under the
  # process.env. Node.js variable.
  environment:
    tableName: notes
    stripeSecretKey: ${env:STRIPE_SECRET_KEY}
  #  SAMPLE_ENV_VAR: ${env:SAMPLE_ENV_VAR}

  # 'iamRoleStatements' defines the permission policy for the Lambda function.
  # In this case Lambda functions are granted with permissions to access DynamoDB.
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamoDb:Scan
        - dynamoDb:Query
        - dynamoDb:GetItem
        - dynamoDb:PutItem
        - dynamoDb:UpdateItem
        - dynamoDb:DeleteItem
        - dynamoDb:DescribeTable
      Resource: "arn:aws:dynamodb:us-east-1:*:*"

# Create our resources with separate CloudFormation templates
resources:
  # API Gateway Errors
  - ${file(resources/api-gateway-errors.yml)}

# lambda functions
functions:
  # Defines an HTTP API endpoint that calls the main functions in create.js
  create:
    handler: create.main
    events:
      - http:
          path: notes
          method: post
          cors: true
          authorizer: aws_iam
  get:
    # Defines an HTTP API endpoint that calls the main function in get.js
    handler: get.main
    events:
      - http:
          path: notes/{id}
          method: get
          cors: true
          authorizer: aws_iam
  list:
    handler: list.main
    events:
      - http:
          path: notes
          method: get
          cors: true
          authorizer: aws_iam
  update:
    handler: update.main
    events:
      - http:
          path: notes/{id}
          method: put
          cors: true
          authorizer: aws_iam
  delete:
    handler: delete.main
    events:
      - http:
          path: notes/{id}
          method: delete
          cors: true
          authorizer: aws_iam
  billing:
    handler: billing.main
    events:
      - http:
          path: billing
          method: post
          cors: true
          authorizer: aws_iam
